@charset "UTF-8";

Body {
    font-family: "Consolas", "Courier", "Helvetica", sans-serif;
    background-color: rgba(62, 201, 211, 0.973);
}
table {
    border-collapse: collapse;
    width: 75%
}
td {
    font-size: 12pt;
    border: 1px rgba(0, 0, 255, 0.445) solid;
    padding: 2px 2px 2px 2px;
}
th {
    font-size: 14pt;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #000077;
    color: #FFFFFF;
}
name tr {
    color: #000000;
    background-color: #0000FF;
}
h2 {
    font-size: 12pt;
}