@charset "UTF-8";

body {
    background-color: #E5E4E2;
    font-family: Monospace;
    font-size: 10pt;
}

td,
th {
    border: 0px solid black;
    border-collapse: collapse;
    white-space: pre;
}

th {
    color: white;
    background-color: black;
}

table,
tr,
td,
th {
    padding: 0px;
    margin: 0px;
    white-space: pre;
}

table {
    margin-left: 25px;
}

h2 {
    font-family: Tahoma;
    color: #6D7B8D;
}

.footer {
    color: green;
    margin-left: 25px;
    font-family: Tahoma;
    font-size: 8pt;
}